/* Герой */

.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background: #2f303a;
    text-align: center;


    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/mobherobg1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: url('/img/mobherobg2x.jpg');
    }
}

@media screen and (min-width: $tablet){
    .hero {
        background-image: url('/img/bgimgtablet1x.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: url('/img/bgimgtablet2x.jpg');
        }
    }
}

@media screen and (min-width: $desktop) {
    .hero {
        background-image: url('/img/desktopbg1x.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: url('/img/desktopbg2x.jpg');
        }
    }
}

.hero__title {
    @media screen and (max-width: 1199px){
        font-size: 26px;
        line-height: 1.61;
    }
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
        
    margin: 0 auto;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;

    color: $button-color-text;  
}

/* Кнопка герой */

.hero__button {
    padding: 10px 32px;
    border-radius: 4px;

    color: $button-color-text;
    background-color: $accent-color-text;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    align-items: center;
}