
.menu-button{
    @media screen and (min-width: 768px) {
    display: none;        
    }
    @media screen and (max-width: 767px){
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        z-index: 999;
    }
}

.menu-button .menu-button__cross {
    @media screen and (max-width: 767px){
        display: none;
    }
}

.menu-button.is-open .menu-button__cross {  
    @media screen and (max-width: 767px) {
        display: block;
    }
}

.menu-button.is-open .menu-button__menu {
    @media screen and (max-width: 767px){
        display: none;}
    
}


.mobile-nav{
    @media screen and(min-width: 768px){
        display: inline-flex;
    }
    @media screen and (max-width: 767px){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 48px 40px;
        
        display: none;
        
        &.is-open {
            display: block;
            z-index: 998;
        }
        
        background-color: white;
    }
}

.mobile-nav__list {
    @media screen and (min-width: 768px){
        display: none;
    }
    @media screen and (max-width: 767px){
        display: flex;
        margin-top: 64px;
    }

}
.mobile-nav__item {
    @media screen and (max-width: 767px){
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding: 0 10px 0 10px;
        
        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
        
        &:first-child {
            padding-left: 0;
        }
    }
}
.mobile-nav__link{
    @media screen and (max-width: 767px){
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        color: $accent-color-text;
    }
    
}







